body{
    margin-left: 50;
    margin-right: 50;
    margin-top: 50;
    margin-bottom: 50;
    background: black;
    text-align: center;
    color: white;
    font-size: 18px;
}

a{
    color: greenyellow;
}

.column{
    margin-bottom: 30;
    float: left;
    width: 19%;
    padding: 0.5%;
}

audio{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}